<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet/less" type="text/css" href="../css/index.css"/>
		<script src="../js/less.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/fontSize.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/answerPage.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		  <div class="anPage">	 
		  	    <ul class="answerHeader">
					<li class="goHome"><img class="goHomeBtn" id="goHome" src="../img/back.png" alt="" /></li>
					<li>当日积分:<span id="today_score">65</span>分</li>
				</ul>
				<div class="bjeb"></div>
				<div class="answerBox">
					<!--<p class="answerNumber">本次答题<span class="answerAmount">10/20</span></p>-->
					<p class="answerNumber">本次答题结果</p>
	  	   	   	    <div class="answerCheckbox" id="answerCheckbox"><ul></ul></div>
	  	   	   	    <p class="answerNumber answerNumberRight">本次积分:<span class="answerFraction" id="answerFraction">10分</span></p>
	  	   	   	    <div class="answerLine"></div>
	  	   	   	    <!--<p class="integral">今日积分<span class="answerAmount">100</span>分</p>-->
	  	   	   	    <p class="integral">可用积分<span class="answerAmount" id="valid_score">100</span>分</p>
	  	   	   	    <p class="integral">历史兑换<span class="answerAmount" id="history_score">100</span>分</p>
	  	   	   	    <div class="ticketChange">
	  	   	   	    	<button type="button" class="answer_Ticket" id="ticket">查看卡券</button>
	  	   	   	        <button type="button" class="answer_Exchange" id="exchange">去兑换</button>
	  	   	   	    </div>
				</div>
  	   	   	    
		  </div>
	</body>
</html>
