<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet/less" type="text/css" href="../css/index.css"/>
    <script src="../js/less.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/fontSize.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/tickets.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
<div class="ticketBox">
    <ul class="answerHeader">
        <li class="goHome"><img class="goHomeBtn" id="goHome" src="../img/back.png" alt=""/></li>
        <li>我的卡券</li>
    </ul>
    <div class="bjeb"></div>
    <div class="answerBox">
        <p class="answerTitle" id="voucher_title">我的卡券列表：</p>
        <div id="user_voucher">
            <ul class="ticketList">
                <li>
                    <p>￥<span class='answerMoney'>1.00</span></p>
                    <p class="integralOne">100积分兑换</p>
                </li>
                <li>
                    <p class="ticketTilte1">编号：<span>11022303014</span></p>
                    <p class="ticketTilte1">仅限望州南小区使用</p>
                </li>
                <li class="effectiveDate">
                    <p>有效时间：<span>2019年12月31日前</span></p>
                    <p class="notUsed">未使用</p>
                </li>
            </ul>
            <ul class="ticketList">
                <li>
                    <p>￥<span class='answerMoney'>2.00</span></p>
                    <p class="integralOne">100积分兑换</p>
                </li>
                <li>
                    <p class="ticketTilte1">编号：<span>11022303014</span></p>
                    <p class="ticketTilte1">仅限望州南小区使用</p>
                </li>
                <li class="effectiveDate">
                    <p>有效时间：<span>2019年12月31日前</span></p>
                    <p class="notUsed">未使用</p>
                </li>
            </ul>
        </div>
    </div>
    <div style="text-align: center;" id="tickets_btn">
        <button type="button" class="exchange_Ticket" id="answerExchanges">去充电</button>
    </div>
</div>
</body>

</html>