<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.zhongkai.ask.mapper.IManagerMapper">
    <select id="getManagers" parameterType="map" resultType="site.zhongkai.ask.entity.Manager">
        select
        t.id,
        t.loginname,
        t.username,
        t.phone,
        t.gender,
        t.telephone,
        t.email,
        t.avatar,
        t.create_time as createTime
        from t_manager t
        where 1=1
        <if test="username != null and username != ''">
            AND t.username LIKE CONCAT('%',#{username},'%')
        </if>
        <if test="phone != null and phone != ''">
            AND t.phone LIKE CONCAT('%',#{phone},'%')
        </if>

    </select>

</mapper>